.Profile {
    margin-top: 70px;
    text-align: center; 
}
#Profile-img {
    height: 250px;
    width: 250px;
    border-radius: 100%;
}
.Profile-Two-counters {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.Profile-item {
    display: flex;
    align-items: center;
    height: 35px;
    /* float: left; */
    border: 2px solid #26a69a;
    background-color: rgb(235, 228, 228);
    border-radius: 20px;
}
.Profile-item:first-child { margin-right: 50px; }
.Profile-item-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    border-right: 2px solid #26a69a;
    border-radius: 20px;
    color: #26a69a;
    background-color: #fff;
}
.Profile-item p { margin: 0 10px; }
.Profile-btn {
    display: inline-flex;
    align-items: center;
    border: 2px solid #26a69a;
    line-height: unset;
    color: #26a69a;
    background-color: #fff;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: none;
}
.Profile-btn:hover {
    background-color: #26a69a;
    color: white;
}
.Profile-btn:focus { background-color: #fff; color: #26a69a; }
