.UpdateProfile {
    min-width: 500px;
    margin: 0 auto!;
    z-index: 2;
    position: relative;
    bottom: 300px;
    height: 500px;
    background-color: skyblue;
    padding: 45px;
}

.UpdateProfile-z-1 {
    z-index: -1
}

.UpdateProfile-img {
    height: 100px;
    display: inline;
    margin-top: 10px;
}

.UpdateProfile-button {
    float: left;
    padding: 0 auto!;
    margin: 10px;
}
.UpdateProfile-two-buttons {
    float: right;
}

h4 {
    margin: 20px 0;
    text-align: left
}

::-webkit-input-placeholder {
    color: Black;
  }
  ::-moz-placeholder { 
    color: Black;
  }
  :-ms-input-placeholder { 
    color: Black;
  }
  :-moz-placeholder {
    color: Black;
  }