.AddComment-row {
    width: 90%;
    margin: 0 auto;
    margin-left: auto !important;
    margin-right: auto !important;
}
.AddComment-error { margin: 0 6% }
.AddComment-input { margin-bottom: 10px !important; }