.AddDifferentPosts-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.AddDifferentPosts-title {
    margin: 10px 0;
    color: #000;
}
.AddDifferentPosts-close-btn {
    display: flex;
    text-decoration: none;
    color: #928f8f;
    font-size: 1.5em;
    cursor: pointer;
}
.AddDifferentPosts-close-btn:hover {
    color: #cc2121;;
}
.AddDifferentPosts-post-btn {
    display: block;
    margin-left: auto;
}
.AddDifferentPosts-text-errormsg {
    color: red;
}