.FeedItemVideo-right { display: flex; }
.FeedItemVideo-right p { margin-right: 20px !important; }
.FeedItemVideo-delete { cursor: pointer; }
.FeedItemVideo-content {
    display: block;
    padding-bottom: 40px;
}