.FeedItemText-right { display: flex; }
.FeedItemText-right p { margin-right: 20px !important; }
.FeedItemText-delete { cursor: pointer; }
.FeedItemText-content { 
    text-decoration: none;
    color: black; 
    display: block;
    padding-bottom: 40px;
    width: 100%;
}
.FeedItemText-length {word-wrap: break-word; }