.FeedItemImage-img { width: 100%; }
.FeedItemImage-right { display: flex; }
.FeedItemImage-right p { margin-right: 20px !important; } 
.FeedItemImage-delete { cursor: pointer; }
.FeedItemImage-content { 
    display: block;
    padding-bottom: 40px;
    width: 100% !important;
}