.LoginRegister-content { margin: 20px auto; }
.LoginRegister-container {
	margin-top: 80px;
	width: 400px;
	height: 700px;
}
.LoginRegister-errorMsg {
	margin: 0;
    text-align: left;
    color: red;
    font-size: 13px;
}
.LoginRegister-input { margin-bottom: 5px !important; }
.tabs .indicator {
	background-color: #e0f2f1;
	height: 60px;
	opacity: 0.3;
}
.form-container {
	padding: 40px;
	padding-top: 10px;
}
.confirmation-tabs-btn { position: absolute; }
.LoginRegister-link {
	color: #009688 !important;
	text-decoration: none;
}